@import url('https://fonts.googleapis.com/css2?family=Ubuntu:display=swap');
@tailwind base;
@tailwind components;

.theme-red {
    --color-primary: #E53935;
}

.theme-blue {
    --color-primary: #1976d2;
}

.theme-green {
    --color-primary: #388e3c;
}

@tailwind utilities;